# Core ML & Data Handling
torch
torchvision
numpy
opencv-python
scikit-learn
Pillow

# Model & Augmentation
segmentation-models-pytorch
ttach

# Configuration & Logging
absl-py
ml-collections

# Utilities
tqdm
